{%- assign organization = data.organization %}
{%- if organization and organization.show %}
<section class="organization" style="order: {{ organization.order | default: 1 }}">
  <div class="section-title">
    <i class="section-icon fa-solid fa-house-user"></i>
    <h2>{{ organization.title }}</h2>
  </div>

  <div class="section-content">
    {%- if organization.description.size > 0 %}
    <div class="description markdown">
      {{ organization.description | markdownify }}
    </div>
    {%- endif %}

    {%- if organization.items %}
    <div class="items">
      {%- for item in organization.items %}
      <div class="item">
    
        {%- if item.name %}
        <div class="row">
          <div class="organization-name">
            {%- if item.link %}
            <a href="{{ item.link }}">{{ item.name }}</a>
            {%- else %}
            <span>{{ item.name }}</span>
            {%- endif %}
          </div>
        </div>
    
        <div class="row">
          <div class="position">
            <span>{{ item.position }}</span>
          </div>
          <div class="date">
            <span>{{ item.date }}</span>
          </div>
        </div>
    
        {%- if item.description.size > 0 %}
        <div class="description markdown">
          {{ item.description | markdownify }}
        </div>
        {%- endif %}
        {%- endif %}
    
      </div>
      {%- endfor %}
    </div>
    {%- endif %}
    </div>
  </section>
{%- endif %}
